body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x:hidden ;
}

/* Add styles for the navbar */
.navbar {
  background-color: white;
  padding: 20px;
  text-align: center;
  position: relative;
  width: 100%;
  z-index: 1;
  box-shadow:  0 2px 15px cornflowerblue;
}

.navbar ul {
  list-style-type: none;
}

.navbar ul li {
  display: inline-block;
  margin-right: 20px;
}

.navbar a {
  color: cornflowerblue;
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
}

.body {
  margin: 20px auto;
  width: 90%;     
  padding: 10px;
  font-family: 'Arial', sans-serif; 
  color: cornflowerblue; 
  box-shadow:  0 2px 15px cornflowerblue;
  border-radius: 5px;  
}

.center{
    margin-left: auto;
    margin-left: auto;
    width: 100px;
    height: auto;
    max-width: 100px;
    text-align: center;
}
h1{
    color: cornflowerblue;
    text-align: center;
    font-size: 3em;
}
#studentInfo h3 {
    margin-top: 0;
}
.upload-container {
  margin-bottom: 10px;
}

.preview-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-picture {
  border-radius: 50%;
  margin-bottom: 10px;
  width: 150px;
  height: 150px;
}

/* #preview {
    max-width: 300px;
    max-height: 200px;
  } */
table {
    width: 100%;
    border-collapse: collapse;
}

th {
    color: cornflowerblue;
}
  
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid black;
}
  
.footer {
    margin-top: 20px;
}
  
.footer p {
    margin: 5px;
}
  
.footer span {
    font-weight: bold;
}

#detials{
  display: flex;
}


#img{
  display: inline-block;
  margin-left: 80%;
  margin-top: -250px;
  height: 100px;
  width: 100px;
  /* margin-bottom: -100px; */
}





/* .container {
  max-width: 90%;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 900px;
  margin-top: 10px;
  box-shadow:  0 2px 15px cornflowerblue;
} */

input[type="text"],
select {
  max-width: 100%;
  padding: 5px 10px;
}

button {
  width: 20%;
  padding: 10px;
  background-color: #fff;
  color: cornflowerblue;
  border: 1px cornflowerblue solid;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: cornflowerblue;
  color: #fff;
}

#courseList {
  list-style: none;
  padding: 0;
}

.container li {
  display: flex;
  justify-content: space-between;
  border: 1px solid #ccc;
  padding: 5px 10px;
  margin: 5px 0;
  border-radius: 5px;
}

