body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.body {
  /* margin-top: 100px; */
  width: 90%;
  margin: 100px auto auto;
  padding: 10px;
  font-family: "Arial", sans-serif;
  color: cornflowerblue;
  box-shadow: 0 2px 15px cornflowerblue;
  border-radius: 5px;
}
.studentInfo{
  display: flex;
  flex-direction: column;
}
h1 {
  color: cornflowerblue;
  text-align: center;
  font-size: 2em;
}
h3{
  margin: 0;
}

.upload-container {
  margin-bottom: 10px;
}

.preview-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-picture {
  border-radius: 50%;
  margin-bottom: 10px;
  width: 150px;
  height: 150px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  text-align: center;
  padding: 5px;
  color: cornflowerblue;
  border: 2px #ddd solid;
}

td {
  padding: 5px;
  text-align: left;
  border-bottom: 2px solid #ddd;
}

#img {
  display: inline-block;
  margin-left: 80%;
  margin-top: -250px;
  height: 100px;
  width: 100px;
}

input[type="text"],
select {
  max-width: 100%;
  padding: 5px;
  border: none;
  text-decoration: underline cornflowerblue;
  color: cornflowerblue;
}

button {
  max-width: 100%;
  padding: 5px;
  background-color: #fff;
  color: cornflowerblue;
  border: 1px cornflowerblue solid;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: cornflowerblue;
  color: #fff;
}

footer {
  background-color: cornflowerblue;
  width: 100%;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  position: absolute;
  bottom: 0;
  /* margin-top: auto; */
}
@media screen and (max-width: 468px) {
  .body {
    margin-top: 100px;
    width: 100%;
    padding: 5px;
    display:flex ;
    flex-direction: column;
    overflow: hidden;
  }

  h1 {
    font-size: 1.5em;
  }

  #img {
    /* display: flex; */
    width: 50px;
    height: 100px;
    /* margin-top: 10px; */
  }
  .studentInfo{
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
  .preview-container {
    width: 50%;


  }

  input[type="text"],
  select {
    width: 50%;
  }

  table {
    font-size: 0.9em;
  }


  th, td {
    padding: 3px;
  }

  .button {
    width: 50%;
    padding: 10px;
    margin: 4px auto auto;
  }
  footer{
    position: fixed;
  }
}


